body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 200px;
}

.form-container {
    width: 50%;
    margin-top : 600px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;
}

.form-containernew {
    width: 75%;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="checkbox"] {
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.review {
    background-color: #555a9b;
    color: #fff;
}

button.simpan {
    background-color: #5ecbd7;
    color:  black;
}

button.batal {
    background-color: #ff4747;
    color: #fff;
}
